body{
    background-color: #B3A7ED;
}
#main{
   margin:10%;
    background-color: #F3CD9F;
     

     padding: 2%;
    display: flex;
    justify-content:space-around;
    border-radius:2%;
}
#sub{
    background-color:#18DFD0 ;
    width: 25%;
    height:80%;
    margin: 4%;
    text-align: center;
    border-radius:3%;
    //border-color:black;
    box-shadow: 4px 4px 5px 5px blue;
    //border: 1px solid black;
    //border-color:  #1C0802;

}
.img{
    width:35%;
    margin:3%;
    border-color:  #1C0802;

}

@media screen and (max-width:450px)
{

}